/*
    mainv
*/
.mainv{
    padding: 216px 16px 164px 16px;
    background-image: url("../images/mainv_bg.png");
    background-size: cover;
    @include clear;

    @include sp{
        padding: 203px 16px 204px;
        background-position: 22% 0;
    }

    &__contents{
        float: right;
        max-width: 539px;
        width: 100%;
        @include sp{
            float: none;
        }
    }
    &__head{
        margin-bottom: 29px;
        font-size: 30px;
        @include sp{
            font-size: 24px;
            line-height: 1.8;
        }
    }
    &__txt{
        margin-bottom: 36px;
        font-size: 18px;
        @include sp{
            margin-bottom: 43px;
            font-size: 16px;
        }
    }
    
    &__btn{
        @include sp{
            text-align: center;
        }

        &-in{
            padding: 13px 0;
            max-width: 280px;
            width: 100%;
            @include sp{
                max-width: 232px;
            }
        }
    }
}
/*
    mainv end
*/